a {
  color: rgba(var(--v-theme-primary));
}

p {
  padding: 0.75rem 0 0.75rem 0;
  color: rgba(var(--v-theme-on-background));
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--v-theme-primary));
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--v-theme-primary-darken-1));
}

/* Transition */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* tip tap */
.tiptap .ProseMirror {
  padding: 0.5rem;
  min-block-size: 15vh;
  outline: none;
}
.tiptap.ProseMirror p {
  margin-block-end: 0;
}

.tiptap .ProseMirror p.is-editor-empty:first-child::before {
  block-size: 0;
  color: #adb5bd;
  content: attr(data-placeholder);
  float: inline-start;
  pointer-events: none;
}

.tiptap blockquote {
  border-left: 3px solid var(--gray-3);
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul ol p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tiptap ul li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tiptap pre {
  background: rgb(3, 0, 3);
  border-radius: 0.5rem;
  color: var(--white);
  font-family: "JetBrainsMono", monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
  overflow-y: scroll;
}

.tiptap pre code {
  color: #e09616;
  font-size: 0.8rem;
  padding: 0;
}

.tiptap img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 700px;
  cursor: pointer;
}

.tiptap p {
  padding: 0.75rem 0 0.75rem 0;
  color: rgba(var(--v-theme-on-background));
}
